.recipes {
  margin: 40px
}
.recipes--empty {

}
.reset-database{

}
.recipe {
  margin-top: 30px;
}
.recipe__title {

}
.product {
  display: flex;
  flex-direction: row;
}
.product__name {
  padding-right: 4px;
}
.product__weight {
  padding-right: 4px;
}
.product__symbol {
  padding-right: 4px;
}